.footer{
	width: 100%;
	background-color: #070f1f;
	color: #485787;
	padding: 40px;
	margin-top: 40px;
	overflow: hidden;
}
.footer-grid{
	max-width: 900px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	padding-left: 40px;
}
.footer-bottom{
	max-width: 900px;
	margin: 20px auto 0px;
	text-align: center;
	font-size: 15px;
	font-weight: lighter;
}

@media screen and (max-width: 510px) {
	.footer{
		padding: 20px;
		margin-top: 40px;
	}
	.footer-grid{
		grid-template-columns: 1fr 1fr;
		padding-left: 20px;
	}
	.footer-bottom{
		font-size: 11px;
	}
}
